*, :before, :after {
  box-sizing: border-box;
}

html {
  tab-size: 4;
  -webkit-text-size-adjust: 100%;
  line-height: 1.15;
}

body {
  margin: 0;
  font-family: system-ui, -apple-system, Segoe UI, Roboto, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji;
}

hr {
  height: 0;
  color: inherit;
}

abbr[title] {
  text-decoration: underline dotted;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp, pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, Liberation Mono, Menlo, monospace;
  font-size: 1em;
}

small {
  font-size: 80%;
}

sub, sup {
  vertical-align: baseline;
  font-size: 75%;
  line-height: 0;
  position: relative;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

table {
  text-indent: 0;
  border-color: inherit;
}

button, input, optgroup, select, textarea {
  margin: 0;
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
}

button, select {
  text-transform: none;
}

button, [type="button"], [type="reset"], [type="submit"] {
  -webkit-appearance: button;
}

::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

:-moz-focusring {
  outline: 1px dotted ButtonText;
}

:-moz-ui-invalid {
  box-shadow: none;
}

legend {
  padding: 0;
}

progress {
  vertical-align: baseline;
}

::-webkit-inner-spin-button, ::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

summary {
  display: list-item;
}

body {
  color: var(--primary-text-color);
  font-family: var(--font-family);
  font-weight: var(--regular-font-weight);
  font-size: var(--main-font-size);
  letter-spacing: .03em;
  background-color: #fff;
  line-height: 1.7;
}

html {
  box-sizing: border-box;
}

*, :before, :after {
  box-sizing: inherit;
}

h1, h2, h3, h4, h5, h6, ul, p {
  margin: 0;
  padding: 0;
}

.img {
  max-width: 100%;
  height: auto;
  display: block;
}

textarea {
  resize: none;
}

.visually-hidden {
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  overflow: hidden;
  height: 1px !important;
  width: 1px !important;
  border: 0 !important;
  padding: 0 !important;
  position: absolute !important;
}

.link {
  color: inherit;
  text-decoration: none;
}

.link:hover, .link:focus {
  color: var(--hover-color);
}

.list {
  list-style-type: none;
}

.section {
  width: 100%;
}

.container {
  width: 100%;
  margin: 0 auto;
  padding-left: 31px;
  padding-right: 31px;
}

@media screen and (min-width: 480px) {
  .container {
    max-width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding-left: 39px;
    padding-right: 39px;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    max-width: 1280px;
    padding-left: 55px;
    padding-right: 55px;
  }
}

.header__container {
  display: flex;
}

.header__mobile {
  justify-content: space-between;
  align-items: center;
  display: flex;
}

@media screen and (max-width: 768px) {
  .header__mobile {
    margin-bottom: 112px;
  }
}

.header__sidebar {
  width: 90px;
  height: 680px;
  background-color: #fff;
  margin-left: 39px;
  margin-right: 30px;
  padding-top: 32px;
  padding-bottom: 40px;
}

@media screen and (max-width: 768px) {
  .header__sidebar {
    display: none;
  }
}

.header__logo-icon {
  margin-bottom: 282px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.header__logo-icon-svg {
  fill: #303030;
}

.header__sidebar-social {
  margin-top: 395px;
  display: flex;
  transform: rotate(-90deg);
}

.header__sidebar-social-link {
  font-weight: var(--semi-bold-font-weight);
  letter-spacing: .2em;
  cursor: pointer;
  color: #303030;
  transition: color var(--main-transition), box-shadow var(--main-transition);
  font-size: 11px;
  line-height: 15px;
}

.header__sidebar-social-link:focus, .header__sidebar-social-link:hover {
  color: var(--bg-color);
}

.header__sidebar-social-item:first-child {
  margin-right: 40px;
}

.header__sidebar-social-item:first-child:before {
  content: "";
  width: 60px;
  height: 1px;
  background-color: #303030;
  position: absolute;
  top: 16px;
  right: 130px;
}

.header__main {
  width: 100%;
  height: 580px;
  background-image: linear-gradient(#2f303a66, #2f303a66), url("hero-mobile.48a2bf02.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 40px 39px 40px 24px;
}

@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2x) {
  .header__main {
    background-image: linear-gradient(#2f303a66, #2f303a66), url("hero-mobile@2x.41ed3c6a.jpg");
  }
}

@media screen and (min-width: 768px) {
  .header__main {
    height: 680px;
    background-image: linear-gradient(#2f303a66, #2f303a66), url("hero-tablet.66109729.jpg");
  }
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2x) {
  .header__main {
    background-image: linear-gradient(#2f303a66, #2f303a66), url("hero-tablet@2x.834b7cba.jpg");
  }
}

@media screen and (min-width: 1280px) {
  .header__main {
    width: 100%;
    background-image: linear-gradient(#2f303a66, #2f303a66), url("hero-desktop.91d55333.jpg");
    padding-left: 40px;
    padding-right: 55px;
  }
}

@media screen and (min-width: 1280px) and (min-device-pixel-ratio: 2), screen and (min-width: 1280px) and (min-resolution: 192dpi), screen and (min-width: 1280px) and (min-resolution: 2x) {
  .header__main {
    background-image: linear-gradient(#2f303a66, #2f303a66), url("hero-desktop@2x.79012ce0.jpg");
  }
}

.logo-icon {
  fill: #fff;
  width: 69px;
  height: 55px;
}

@media screen and (min-width: 768px) {
  .logo-icon {
    display: none;
  }
}

.menu-button {
  background-color: inherit;
  cursor: pointer;
  z-index: 2;
  border: none;
  outline: none;
}

.menu-button .icon-menu__close {
  fill: #303030;
  transition: fill var(--main-transition), box-shadow var(--main-transition);
  display: none;
}

.menu-button .icon-menu__close:hover, .menu-button .icon-menu__close:focus {
  fill: var(--bg-color);
}

.menu-button.is-open .icon-menu__close {
  display: block;
}

.menu-button.is-open .icon-menu {
  display: none;
}

@media screen and (min-width: 768px) {
  .menu-button {
    display: none;
  }
}

:root {
  --font-family-secondary: "Raleway", sans-serif;
  --font-family: "Open Sans", sans-serif;
  --regular-font-weight: 400;
  --semi-bold-font-weight: 600;
  --secondary-font-weight: 700;
  --secondary-font-size: 12px;
  --primary-write-color: #fff;
  --bg-color: #ff6c00;
  --accent-color: transparent;
  --modal-color: #fef3e4e6;
  --text-color: #2e2520;
  --text-accent-color: #000;
  --form-bg: #ab816c;
  --hover-color: #876655;
  --main-transition: 250ms cubic-bezier(.4, 0, .2, 1);
}

.button {
  color: var(--primary-write-color);
  background-color: var(--accent-color);
  font-weight: var(--semi-bold-font-weight);
  font-size: var(--secondary-font-size);
  text-align: center;
  letter-spacing: .09em;
  cursor: pointer;
  text-transform: uppercase;
  border: 1px solid var(--bg-color);
  transition: background-color var(--main-transition), box-shadow var(--main-transition);
  border-radius: 25px;
  align-items: center;
  padding: 12px 20px;
  line-height: 16px;
}

.button:hover, .button:focus {
  background-color: var(--bg-color);
}

.menu {
  width: 40px;
  height: 40px;
  outline: none;
}

.menu__navigation {
  justify-content: space-between;
  margin-bottom: 156px;
  display: flex;
}

@media screen and (max-width: 768px) {
  .menu__navigation {
    display: none;
  }
}

.menu__list {
  margin-top: 6px;
  display: flex;
}

@media screen and (min-width: 1280px) {
  .menu__list {
    margin-right: 322px;
  }
}

@media screen and (min-width: 768px) {
  .menu__item:not(:last-child) {
    margin-right: 20px;
  }
}

.menu__link {
  font-weight: var(--semi-bold-font-weight);
  letter-spacing: .1em;
  color: var(--primary-write-color);
  transition: color var(--main-transition), box-shadow var(--main-transition);
  font-size: 12px;
  line-height: 16px;
}

.menu__link:hover, .menu__link:focus {
  color: var(--bg-color);
}

@media screen and (min-width: 1280px) {
  .menu__form {
    justify-content: center;
    align-items: center;
    display: flex;
  }
}

.menu__button-online {
  margin-bottom: 20px;
}

@media screen and (min-width: 1280px) {
  .menu__button-online {
    margin-bottom: 0;
  }
}

.menu__tel {
  font-weight: var(--semi-bold-font-weight);
  text-align: center;
  letter-spacing: .1em;
  text-transform: uppercase;
  color: var(--primary-write-color);
  transition: color var(--main-transition), box-shadow var(--main-transition);
  font-size: 12px;
  line-height: 16px;
  display: block;
}

.menu__tel:hover, .menu__tel:focus {
  color: var(--bg-color);
}

@media screen and (min-width: 1280px) {
  .menu__tel {
    order: -1;
    margin-right: 40px;
  }
}

.hero {
  margin-left: 96px;
}

@media screen and (max-width: 768px) {
  .hero {
    margin-left: 7px;
  }
}

.hero__text-location {
  font-weight: var(--semi-bold-font-weight);
  text-align: center;
  letter-spacing: .1em;
  text-transform: uppercase;
  color: #9da4bd99;
  align-items: center;
  margin-bottom: 20px;
  font-size: 11px;
  line-height: 15px;
  display: flex;
}

@media screen and (min-width: 768px) {
  .hero__text-location {
    text-align: start;
  }
}

.hero__text-location:before {
  content: "";
  width: 60px;
  height: 1px;
  background-color: #9da4bd99;
  margin-right: 20px;
  display: inline-block;
}

.hero__title {
  font-family: var(--font-family-secondary);
  font-weight: var(--secondary-font-weight);
  letter-spacing: .05em;
  color: #fff;
  margin-bottom: 20px;
  font-size: 48px;
  line-height: 56px;
}

.hero__about-us {
  font-weight: var(--regular-font-weight);
  letter-spacing: .02em;
  color: #9da4bd;
  width: 306px;
  height: 78px;
  font-size: 16px;
  line-height: 26px;
}

@media screen and (min-width: 768px) {
  .hero__about-us {
    width: 355px;
    height: 52px;
  }
}

.mobile-menu {
  width: 337px;
  height: 100vh;
  background-color: var(--primary-write-color);
  flex-direction: column;
  padding: 118px 40px;
  display: none;
  position: absolute;
  top: 0;
  right: 0;
}

@media screen and (max-width: 767.98px) {
  .mobile-menu.is-open {
    z-index: 1;
    display: flex;
    position: fixed;
  }
}

.mobile-menu__list {
  margin-bottom: 64px;
}

.mobile-menu__item:not(:last-child) {
  margin-bottom: 24px;
}

.mobile-menu__link {
  font-weight: var(--semi-bold-font-weight);
  text-align: center;
  letter-spacing: .1em;
  transition: color var(--main-transition), box-shadow var(--main-transition);
  color: #303030;
  font-size: 18px;
  line-height: 25px;
}

.mobile-menu__link:hover, .mobile-menu__link:focus, .mobile-menu__link.current {
  color: var(--bg-color);
}

.mobile-menu__form {
  margin-bottom: 64px;
}

.mobile-menu__tel {
  font-weight: var(--semi-bold-font-weight);
  letter-spacing: .1em;
  text-transform: uppercase;
  color: #303030;
  transition: color var(--main-transition), box-shadow var(--main-transition);
  font-size: 18px;
  line-height: 25px;
}

.mobile-menu__tel:hover, .mobile-menu__tel:focus {
  color: var(--bg-color);
}

.mobile-menu__button {
  color: #303030;
  margin-top: 24px;
}

.mobile-menu__social-list {
  margin-left: 100px;
  position: relative;
}

.mobile-menu__social-list:not(:last-child) {
  margin-bottom: 24px;
}

.mobile-menu__social-list:not(:last-child):first-child:before {
  content: "";
  width: 60px;
  height: 1px;
  background: #303030;
  position: absolute;
  top: 15px;
  left: -100px;
}

.mobile-menu-social-link {
  font-weight: var(--semi-bold-font-weight);
  letter-spacing: .2em;
  color: #303030;
  transition: color var(--main-transition), box-shadow var(--main-transition);
  font-size: 14px;
  line-height: 19px;
}

.mobile-menu-social-link:hover, .mobile-menu-social-link:focus {
  color: var(--bg-color);
}

/*# sourceMappingURL=index.b07a87f3.css.map */
