:root {
    --font-family-secondary: 'Raleway', sans-serif;
    --font-family: 'Open Sans', sans-serif;
    --regular-font-weight: 400;
    --semi-bold-font-weight: 600;
    --secondary-font-weight: 700;
    --secondary-font-size: 12px;
    --primary-write-color: #FFFFFF;
    --bg-color: #FF6C00;
    --accent-color: transparent;
    --modal-color: rgba(254, 243, 228, 0.9);
    --text-color: #2E2520;
    --text-accent-color: #000000;
    --form-bg: #AB816C;
    --hover-color: #876655;
    // --line-height: 1.25;
    --main-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}