<section class="section about">
    <div class="container about_container">
        <ul class="list about_img">
            <li class="about_card">
                <picture>
                    <source srcset="./images/about/tablet/about_tablet.jpg 1x, 
                    ./images/about/tablet/about_tablet@2x.jpg 2x" 
                    media="(max-width: 1279.99px)">
                    <source srcset="./images/about/desktop/about_desktop.jpg 1x, 
                    ./images/about/desktop/about_desktop@2x.jpg 2x"
                        media="(min-width: 1280px)">
                    <img class="about_photo" src="./images/about/desktop/about_desktop.jpg" alt="фото клієнта" width="330">
                </picture>
            </li>
            <li>
                <picture>
                    <source srcset="./images/about/tablet/about_tablet2.jpg 1x, 
                    ./images/about/tablet/about_tablet2@2x.jpg 2x" 
                    media="(max-width: 1279.99px)">
                    <source srcset="./images/about/desktop/about_desktop2.jpg 1x, 
                    ./images/about/desktop/about_desktop2@2x.jpg 2x" 
                    media="(min-width: 1280px)">
                    <img class="about_photo" src="./images/about/desktop/about_desktop2.jpg" alt="фото клієнта" width="330">
                </picture>
            </li>
        </ul>
        <div class="about_text">
            <p class="about_text-about">ПРО НАС</p>
            <h2 class="about_title">Найкращий Барбершоп твого міста</h2>
            <p class="about_paragraph-top">Якщо ти хочеш додати у свій образ більше впевненості, тобі точно до нас.</p>
            <p class="about_paragraph">Ми команда, яка ніколи не зупиняється на досягнутому і прагне змін. І коли ти потрапиш
            в руки нашого майстра, то вже ніколи не зможеш бути тим самим. Ми команда, яка завжди з клієнтами "на одній хвилі". Тому
            ми завжди готові вдосконалити кожного, хто до нас приходить!</p>
            <button class="button about_btn">онлайн-запис</button>
        </div>
    </div>
</section>