<header class="header">
  <div class="container">
    <nav class="navigation">
      <a href="./" class="logo link">
        <svg class="logo-icon" aria-label="logo">
          <use href="./images/sprite/sprite.svg#Logo"></use>
        </svg>
      </a>
      <a href="./"></a>
        <button type="button" class="menu-button" data-menu-button>
          <svg class="menu" aria-label="Перемикач мобільного меню">
            <use class="icon-menu" href="./images/sprite/sprite.svg#menu"></use>
            <use class="icon-menu__close" href="./images/sprite/sprite.svg#menu-close"></use>
          </svg>
        </button>
        <div class="menu-box">
          <ul class="list menu-list">
            <li class="menu-item"><a class="link menu-link" href="./index.html">Про нас</a></li>
            <li class="menu-item"><a class="link menu-link" href="./index.html">Послуги та ціни</a></li>
            <li class="menu-item"><a class="link menu-link" href="./index.html">Майстри</a></li>
            <li class="menu-item"><a class="link menu-link" href="./index.html">Контакти</a></li>
          </ul>
              <div class="menu-form">
                <button class="button menu-button__online">ОНЛАЙН-ЗАПИС</button>
                <a class="link menu-tel" href="tel:+380441111111">
                  +38 044 111 11 11
                </a>
              </div>
          </div>
        </nav>
  </div>
</header>
