<header class="header">
  <div class="header__container">
    <div class="header__sidebar">
      <a href="./" class="header__logo link">
        <svg width="69" height="56" class="header__logo-icon" aria-label="logo">
          <use class="header__logo-icon-svg" href="./images/sprite/sprite.svg#Logo"></use>
        </svg>
      </a>
      <ul class="list header__sidebar-social">
        <li class="header__sidebar-social-item">
          <a class="link header__sidebar-social-link" href="" target="_blank" rel="noopener noreferrer">Instagram</a>
        </li>
        <li class="header__sidebar-social-item">
          <a class="link header__sidebar-social-link" href="" target="_blank" rel="noopener noreferrer">Youtube</a>
        </li>
      </ul>
    </div>
    <div class="header__main">
      <div class="header__mobile">
        <a href="./" class="logo link">
          <svg class="logo-icon" aria-label="logo">
            <use href="./images/sprite/sprite.svg#Logo"></use>
          </svg>
        </a>
        <button type="button" class="menu-button" data-menu-button>
          <svg class="menu" aria-label="Перемикач мобільного меню">
            <use class="icon-menu" href="./images/sprite/sprite.svg#menu"></use>
            <use class="icon-menu__close" href="./images/sprite/sprite.svg#menu-close"></use>
          </svg>
        </button>
      </div>
      <nav class="menu__navigation">
        <ul class="list menu__list">
          <li class="menu__item"><a class="link menu__link" href="./index.html">Про нас</a></li>
          <li class="menu__item"><a class="link menu__link" href="./index.html">Послуги та ціни</a></li>
          <li class="menu__item"><a class="link menu__link" href="./index.html">Майстри</a></li>
          <li class="menu__item"><a class="link menu__link" href="./index.html">Контакти</a></li>
        </ul>
            <div class="menu__form">
              <button class="button menu__button-online">ОНЛАЙН-ЗАПИС</button>
              <a class="link menu__tel" href="tel:+380441111111">
                +38 044 111 11 11
              </a>
            </div>
        </nav>
        <div class="hero">
          <div class="hero__container">
            <p class="hero__text-location">A hair salon for men in Kyiv</p>
            <h1 class="hero__title">BarberShop</h1>
            <p class="hero__about-us">Ми експерти у модних чоловічих стрижках. Працюємо швидко, обережно та зі смаком.</p>
          </div>
        </div>
        <div class="slider">
          <button class="slider-btn back">Назад</button>
          <button class="slider-btn next">Вперед</button>
        </div>
    </div>
  </div>
</header>
