.menu {
    width: 40px;
    height: 40px;
    outline: none;
}

.menu__navigation {
    display: flex;
    justify-content: space-between;
    margin-bottom: 156px;
    

    @media screen and (max-width: 768px) {
        display: none;
    }

    @media screen and (min-width: 1280px) {
        margin-bottom: 204px;
    }
}

.menu__list {
    display: flex;
    margin-top: 6px;
    

    @media screen and (min-width: 1280px) {
        margin-right: 322px;
    }
}

.menu__item:not(:last-child) {
    @media screen and (min-width: 768px) {
        margin-right: 20px;
    }
}

.menu__link {
    font-weight: var(--semi-bold-font-weight);
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.1em;
    color: var(--primary-write-color);

    transition: color var(--main-transition), box-shadow var(--main-transition);

    &:hover,
    &:focus {
        color: var(--bg-color);
    }
}

.menu__form {
    
    @media screen and (min-width: 1280px) {
        display: flex;
        justify-content: center;
        align-items: center;

    }
}

.menu__button-online {
    margin-bottom: 20px;

    @media screen and (min-width: 1280px) {
        margin-bottom: 0;

    }
}

.menu__tel {
    display: block;
    font-weight: var(--semi-bold-font-weight);
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;

    color: var(--primary-write-color);

    transition: color var(--main-transition), box-shadow var(--main-transition);

    &:hover,
    &:focus {
        color: var(--bg-color);
    }

    @media screen and (min-width: 1280px) {
        margin-right: 40px;
        order: -1;
    }
}
