.header {
    margin-top: 40px;
}

.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media screen and (min-width: 768px) {
        justify-content: center;
    }
}

.logo-icon {
    width: 69px;
    height: 55px;
}

.menu-button {
    outline: none;
    border: none;
    background-color: inherit;
    cursor: pointer;
   
    z-index: 2;

    
    & .icon-menu__close {
        display: none;
        fill: #303030;
        transition: fill var(--main-transition), box-shadow var(--main-transition);
        
        &:hover,
        &:focus {
            fill: var(--bg-color);
        }
    }
    
    &.is-open .icon-menu__close {
        display: block;
    }
    
    &.is-open .icon-menu {
        display: none;
    }
    
    @media screen and (min-width: 768px) {
        display: none;
    }
}



