.hero {
    margin-left: 96px;

    @media screen and (max-width: 768px) {
           margin-left: 7px;
        }
}

.hero__text-location {
    font-weight: var(--semi-bold-font-weight);
    font-size: 11px;
    line-height: 15px;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: rgba(157, 164, 189, 0.6);

    display: flex;
    align-items: center;

    margin-bottom: 20px;

    @media screen and (min-width: 768px) {
            text-align: start;
        }

    &::before {
        content: '';
        display: inline-block;
        width: 60px;
        height: 1px;
        background-color: rgba(157, 164, 189, 0.6);
      
        margin-right: 20px;
    }
}

.hero__title {
    font-family: var(--font-family-secondary);
    font-weight: var(--secondary-font-weight);
    font-size: 48px;
    line-height: 56px;
    letter-spacing: 0.05em;
    color: #FFFFFF;

    margin-bottom: 20px;
}

.hero__about-us {
    font-weight: var(--regular-font-weight);
    font-size: 16px;
    line-height: 26px; 
    letter-spacing: 0.02em;  
    color: #9DA4BD;
    width: 306px;
    height: 78px;

    @media screen and (min-width: 768px) { 
        width: 355px;
        height: 52px;
        }
}